{
  "presets": ["env", "stage-2", "react"],
  "plugins": [
  ],
  "env": {
    "production": {
        "plugins": [
          [ "transform-rename-import", {
              "original": "./style.scss",
              "replacement": "./style.css"
          }]
        ]
    }
  }
}
