{
  "presets": ["env", "stage-2", "react"],
  "plugins": [
  ],
  "env": {
    "production": {
        "plugins": [
          [ "transform-rename-import", {
              "original": "./react-lifecycle-visualizer.scss",
              "replacement": "./react-lifecycle-visualizer.css"
          }]
        ]
    }
  }
}
