$codeFont: Consolas, monospace;
$uiFont: arial, sans-serif;

.log {
  padding: 3px 8px 5px 8px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;

  .header {
    font-family: $uiFont;
    flex-basis: 3ex;
    flex-shrink: 0;
    user-select: none;

    .controls {
      display: flex;
      align-items: center;
      justify-content: space-between;
      line-height: 22px;

      .title {
        font-size: 130%;
        font-weight: bold;
      }

      .buttons {
      display: flex;
      align-items: center;

        .emoji-button {
          font-size: 140%;
          position: relative;
          top: 0.5px;
        }
      }
    }

    .hint {
      padding-top: 2px;
      font-family: $codeFont;
      line-height: 20px;
      text-align: left;
    }
  }

  .entries {
    font-family: $codeFont;
    flex-grow: 1;
    overflow-y: scroll;
    background-color: #f0f0f0;
    border: solid #ccc 1px;

    .entry-wrapper {
      animation-name: emphasize;
      animation-duration: 10s;
    }

    @keyframes emphasize {
      from {background-color: lightblue;}
      to {background-color: inherit;}
    }

    .entry {
      padding-left: 2px;
      padding-right: 2px;
      white-space: pre;
      cursor: default;
    }
    .entry[data-is-highlighted='true'] {
      background-color: yellow;
    }
  }

  .simple-button {
    display: inline-block;
    padding: 1px 3px 0 3px;
    margin-bottom: 2px;
    height: 13px;
    line-height: 12px;
    font-size: 12px;
    border: solid #aaa 1px;
    border-radius: 4px;
    user-select: none;
    background-color: white;
  }
  .simple-button:hover {
    background-color: #ddd;
  }
}

.lifecycle-panel {
  padding: 2px 0 2px 0;
}
.lifecycle-panel-inner {
  font-family: $codeFont;
  display: inline-flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  background-color: #dde;
  padding: 4px;
  border: solid #888 1px;
  border-radius: 4px;
  position: relative;

  .component-instance {
    color: #666;
    position: absolute;
    /* align-self: flex-end; */
    top: 1px;
    right: 0px;
    padding-right: 4px;
  }

  .lifecycle-method::BEFORE {
    content: '-';
  }
  .lifecycle-method {
    border-radius: 4px;
  }
  .lifecycle-method[data-is-implemented='false'] {
    color: #666;
  }
  .lifecycle-method[data-is-highlighted='false'] {
    background-color: inherit;
    transition: background-color 0.3s;
  }
  .lifecycle-method[data-is-highlighted='true'] {
    background-color: yellow;
  }
}
