body {
  font-family: Consolas;
  font-size: 13px;
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
}
#root {
  margin: 0;
  flex-grow: 1;
  display: flex;
}
.app {
  flex-grow: 1;
  display: flex;
}
.main {
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  border-right: solid #aaa 1px;

  .header {
    padding: 1px 5px 1px 5px;
    border-bottom: solid #aaa 1px;

    > *:not(:last-child) {
      margin-right: 20px;
    }
  }
  .traced-component {
    padding: 5px;
    flex-grow: 1;
    display: flex;
    overflow-y: scroll;
  }
}


.log {
  padding: 1px 5px 5px 10px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;

  .header {
    flex-basis: 3ex;
    flex-shrink: 0;
    user-select: none;
    line-height: 24px;
    margin-bottom: 5px;

    .title {
      font-size: 130%;
      font-weight: bold;
      margin-right: 20px;
    }
    .emoji-button {
      font-size: 140%;
      position: relative;
      top: 4px;
    }
  }

  .entries {
    flex-grow: 1;
    overflow-y: scroll;
    background-color: #eee;
    border: solid #aaa 1px;

    .entry-wrapper {
      animation-name: emphasize;
      animation-duration: 10s;
    }
    @keyframes emphasize {
      from {background-color: lightblue;}
      to {background-color: inherit;}
    }
    .entry {
      white-space: pre;
    }
    .entry[data-is-highlighted='true'] {
      background-color: yellow;
    }
  }
}

.lifecycle-panel {
  padding: 2px 0 2px 0;
}
.lifecycle-panel-inner {
  display: inline-flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  background-color: #dde;
  padding: 4px;
  border: solid black 1px;
  border-radius: 4px;
  position: relative;

  .component-instance {
    color: #666;
    position: absolute;
    /* align-self: flex-end; */
    top: 1px;
    right: 0px;
    padding-right: 4px;
  }
  .lifecycle-method::BEFORE {
    content: '-';
  }
  .lifecycle-method {
    border-radius: 4px;
  }
  .lifecycle-method[data-is-implemented='false'] {
    color: #666;
  }
  .lifecycle-method[data-is-highlighted='false'] {
    background-color: inherit;
    transition: background-color 0.3s;
  }
  .lifecycle-method[data-is-highlighted='true'] {
    background-color: yellow;
  }
}


.simple-button {
  padding: 1px 3px 0 3px;
  font-size: 90%;
  border: solid #aaa 1px;
  border-radius: 4px;
  user-select: none;
}
.simple-button:not(:last-child) {
  margin-right: 5px;
}
.simple-button:hover {
  background-color: #ddd;
}
.tagged {
  margin-top: 6px;
  // background-color: #eee;
  // border: dotted 1px #999;
  // border-radius: 4px;
}
.indented {
  padding-left: 1.5em;
}
